.card {
  position: relative;
  border: 1px solid var(--mantine-color-dark-7);
  transition: border-color 0.2s;
}

.card:hover {
  border-color: var(--mantine-color-dark-6);
}

.titleLink {
  color: var(--mantine-color-text);
}

.titleLink:before {
  position: absolute;
  content: "";
  inset: 0;
}
